.cartProduct-container {
  display: flex;
  flex-direction: column;
  border: solid 1px var(--light-gray);
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 90%;
}

.cartProduct__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartProduct__box ul {
  display: flex;
  gap: 40px;
}

.cart-p__icon {
  font-size: 20px;
  color: #fff;
}

.card-p__btn {
  background-color: var(--bg-color-red);
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
}
