.price {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  margin-left: 0%;
  padding: 20px;
  justify-content: center;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.filter-price__btn {
  background-color: var(--bg-color-red);
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.price__from-container,
.price__to-container {
  max-width: 178px;
}

@media (max-width: 375px)
{
  .price
  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 8px;
  }
  .price__title
  {
    width: 100%;
  }
  .price__from-container
  {
    width: 48%;
    margin: 0;
  }
  .price__from-container input
  {
    width: 100%;
  }
  .price__to-container
  {
    width: 48%;
  }
  .price__to-container input
  {
    width: 100%;
  }
  .filter-price__btn
  {
    width: 100%;
  }
}
