.order-container {
  grid-column: 1 / 2;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 5%;
}

.order__title {
  width: 100%;
  margin-left: 5%;
}

.order__btn-container {
  display: flex;
  gap: 5px;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.order__btn {
  background-color: var(--bg-color-red);
  color: #fff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  width: 45%;
  height: 30px;
  display: flex;
  padding: 0;
  margin: 0;
}