.view__container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 50%);
}

@media (max-width: 1000px) {
  .view__container{
    grid-template-rows: repeat(2, 400px);
  }
}

@media (max-width: 375px)
{
  .view__container
  {
    display: flex;
  }
}